* {
  box-sizing: border-box;
}

@font-face {
  font-family: myCustomFont;
  src: url(Poppins/Poppins-Medium.ttf);
}

/* Style the body */
body {
  font-family: myCustomFont;
  font-size: 20px;
  margin: 0;
}

button {
  font-family: myCustomFont;
}

p {
  font-family: myCustomFont;
  font-size: 14px;
  margin: 0;
}

#pendo-button-a85e35bb:active {
  color: green !important;
  margin: 15 !important;
}

#pendo-button-a85e35bb:focus {
  color: green !important;
  margin: 15 !important;
}

.big {
  font-family: myCustomFont;
  font-size: 18px;
  margin: 0px;
}

/* Test for offset labels
  label::before {
    content: "LABEL";
  }
  */
/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #6A0DAD;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-family: myCustomFont;
  font-size: 40px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #333;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}

/* Column container */
.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%;
  /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.textbox {
  font-size: 16px;
  font-family: myCustomFont;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid;
  border-radius: 4px;
  width: 300px;
}

.datePicker {
  font-size: 16px;
  font-family: myCustomFont;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid;
  border-radius: 4px;
}

/*buttons */
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-family: myCustomFont;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
}


/* Green */
.green {
  color: green;
}

.green:hover {
  background-color: #4CAF50;
  color: white;
}

/* Blue */
.arc {
  color: dodgerblue;
}

.arc:hover {
  background: #2196F3;
  color: white;
}

/* Orange */
.solar {
  color: orange;
}

.solar:hover {
  background: #ff9800;
  color: white;
}

/* Purple */
.void {
  color: purple;
}

.void:hover {
  background: purple;
  color: white;
}

/* Black */
.default {
  color: black;
}

.default:hover {
  background: #D3D3D3;
  color: white;
}

/* Red */
.red {
  color: red;
}

.red:hover {
  background: #ff0000;
  color: white;
}

/* Main column */
.main {
  -ms-flex: 70%;
  /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
  border-radius: 4px;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-radius: 4px;
}

.dropdown:hover .dropbtn {
  background-color: ddd;
  border-radius: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 4px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 4px;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 4px;
}

.buttonRainbow {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: myCustomFont;
  font-size: 16px;
}

.buttonRainbow:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.buttonRainbow:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* #pendo-g-MsJ5dCUaAV1g_WbejhUHJkPqxe4 .pendo-tooltip-caret {
  border-left: 15px solid blue!important;
  border-top: 15px solid rgb(225, 72, 16)!important;
  border-right: 15px solid purple !important;
}


.pendo-tooltip-caret-border {
  border-left: 15px solid green!important;
  border-top: 15px solid yellow!important;
  border-right: 15px solid orange !important;
} */

select {
  padding: 8px;
  width: 250px;
  font-size: 16px;
  -webkit-appearance: button;
  appearance: button;
  float:none !important;
  border: 2px solid;
}

select option {
  padding: 30px;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}